{% extends "layout.html" %}

{% block title %}FC_Social{% endblock %}

{% block content %}
<h2 class="text-center">Bienvenido </strong></h2>
<br>
<form class="form-horizontal" role="form">
	<div class= "form-group">
    	<label class="control-label col-sm-2" for="Nombre">Nombre(s): </label>
    	<div class= "col-sm-10">
			<input type = "text" name="nombre" id="nombre" class="form-control" placeholder="Ingresa tu nombre(s)">
		</div>
	</div>
	<div class= "form-group">
    	<label class="control-label col-sm-2"for="appP">Apellido Paterno: </label>
    	<div class= "col-sm-10">
	    	<input type ="text" name="apellidoP" id="apellidoP" class="form-control" placeholder="Agrega tu apellido paterno">
	    </div>
	</div>
	<div class= "form-group">
    	<label class="control-label col-sm-2" for="appM">Apellido Materno:</label>
    	<div class= "col-sm-10">
	    	<input type = "text" name="apellidoM" id="apellidoM" class="form-control" placeholder="Agrega tu apellido materno">
	    </div>
	</div>
	<div class= "form-group">
	    <label class="control-label col-sm-2" for="correo">Correo:</label>
	    <div class= "col-sm-10">	
	    	<input type ="email" name="correo" id="correo" class="form-control" placeholder="Ingresa tu correo">
	    </div>
	</div>
	<div class= "form-group">
		<label class="control-label col-sm-2" for="edad">Edad:</label>
		<div class= "col-sm-10">
			<input type= "number" name="edad" id="edad" class="form-control" placeholder="Agrega tu edad">
		</div>
	</div>
	<div class= "form-group">
	    <label class="control-label col-sm-2" for="carrera">Carrera:</label>
	    <div class= "col-sm-10">
	    	<input type ="text" name="carrera" id="carrera" class="form-control" placeholder="Carrera a la que perteneces">
	    </div>
	</div>
	<div class= "form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<br>
			<button class="btn btn-md btn-primary" onclick= "location.href='registro.html';" type = "submit" value="Submit" name="Registrar" id="registrar">Registrarse</button>

			<button class="btn btn-md btn-primary" type = "reset" name="Cancelar" id="cancelar">Cancelar</button>
		</div>
	</div>
</form>
{% endblock %}



 